name: Release artifacts

on:
  workflow_dispatch:
    inputs:
      artifacts:
        description: Comma separeted artifact name list. e.g. plugin,schema
        required: true
        default: plugin,schema
      ref:
        description: Git Ref to release
        required: true
        default: master
      snapshot-version:
        description: Specify the snapshot version name. Keep empty for the production release.

  push:
    tags:
      - \d.\d
      - \d.\d.\d

jobs:
  params:
    runs-on: ubuntu-latest
    steps:
      - id: parse
        run: |
          if ${{ github.event_name == 'workflow_dispatch' }}; then
            artifacts='${{ github.event.inputs.artifacts }}'
            checkout_ref='${{ github.event.inputs.ref }}'
            release_mode='${{ github.event.inputs.snapshot-version && 'false' || 'true' }}'
          else
            artifacts='schema'
            checkout_ref='${{ github.ref }}'
            release_mode='true'
          fi

          echo "artifacts=${artifacts}" >> $GITHUB_OUTPUT
          echo "checkout-ref=${checkout_ref}" >> $GITHUB_OUTPUT
          echo "release-mode=${release_mode}" >> $GITHUB_OUTPUT
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ steps.parse.outputs.checkout-ref }}
      - id: version
        run: |
          if ${{ github.event_name == 'workflow_dispatch' }}; then
            version='${{ github.event.inputs.snapshot-version }}'

            if [ -z "${version}" ]; then
              version="$(cat VERSION)"
            fi
          else
            version="${GITHUB_REF#refs/tags/}"
          fi

          echo "result=${version}" >> $GITHUB_OUTPUT

          if [ ! "$(cat VERSION)" = "${version}" ]; then
            echo 'version mismatch'
            exit 1
          fi
    outputs:
      artifacts: ${{ steps.parse.outputs.artifacts }}
      checkout-ref: ${{ steps.parse.outputs.checkout-ref }}
      release-mode: ${{ steps.parse.outputs.release-mode }}
      version: ${{ steps.version.outputs.result }}
  schema-release:
    if: contains(needs.params.outputs.artifacts, 'schema')
    runs-on: ubuntu-latest
    needs: [ params ]
    env:
      RELEASE_MODE: ${{ needs.params.outputs.release-mode }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ needs.params.outputs.checkout-ref }}
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: '17'
          distribution: corretto
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('buildSrc/src/main/**/*.kt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
      - run: echo '${{ needs.params.outputs.version }}' > VERSION
      - name: Publish artifacts
        run: |
          ./gradlew ':license-list-schema:publishSchemaPublicationToMavenLocal'
        env:
          ORG_GRADLE_PROJECT_signingRequired: true
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_SECRET_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.GPG_PASSPHRASE }}
          ORG_GRADLE_PROJECT_tokenForCentral: ${{ secrets.CENTRAL_SONATYPE_TOKEN }}
      - uses: actions/upload-artifact@v6
        with:
          path: ~/.m2/repository
          if-no-files-found: error
      # Download a zip,
      #
  plugin-release:
    if: contains(needs.params.outputs.artifacts, 'plugin')
    runs-on: ubuntu-latest
    needs: [ params ]
    env:
      RELEASE_MODE: ${{ needs.params.outputs.release-mode }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ needs.params.outputs.checkout-ref }}
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: '17'
          distribution: corretto
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('buildSrc/src/main/**/*.kt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
      - run: echo '${{ needs.params.outputs.version }}' > VERSION
      - name: Publish plugin
        run: ./gradlew publishPlugins -Dgradle.publish.key=$GRADLE_PORTAL_PUBLISH_KEY -Dgradle.publish.secret=$GRADLE_PORTAL_PUBLISH_SECRET
        env:
          GRADLE_PORTAL_PUBLISH_KEY: ${{ secrets.GRADLE_PORTAL_PUBLISH_KEY }}
          GRADLE_PORTAL_PUBLISH_SECRET: ${{ secrets.GRADLE_PORTAL_PUBLISH_SECRET }}

